.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #f8f8f2;
}

.upper_infromation{

    margin: 2px 2px 2px 2px;

}

select{
    width: 100px;
}



body{
    background-color: aliceblue;
}
