<div class="btn-group" style="margin-top: 10px; margin-left: 5px;" role="group" aria-label="Basic checkbox toggle group" id="inddd">
    <input type="checkbox" class="btn-check visually-hidden" name="options-base" id="supertrend" autocomplete="off" checked>
    <label class="btn btn-outline-success me-2 mb-2"  for="supertrend">SuperTrend</label>

    <input type="checkbox" class="btn-check visually-hidden" name="options-base" id="Atr" autocomplete="off">
    <label class="btn btn-outline-success me-2 mb-2" for="Atr">Atr</label>

    <input type="checkbox" class="btn-check visually-hidden" name="options-base" id="Vwap" autocomplete="off">
    <label class="btn btn-outline-success me-2 mb-2" for="Vwap">Vwap</label>

    <input type="checkbox" class="btn-check visually-hidden" name="options-base" id="support-resistance" autocomplete="off">
    <label class="btn btn-outline-success me-2 mb-2" for="support-resistance">Support &amp; Resistance</label>

    <input type="checkbox" class="btn-check visually-hidden" name="options-base" id="alpha-trend" autocomplete="off">
    <label class="btn btn-outline-success me-2 mb-2" for="alpha-trend">Alpha Trend</label>

    <input type="checkbox" class="btn-check visually-hidden" name="options-base" id="Ema(8-13-21)" autocomplete="off">
    <label class="btn btn-outline-success me-2 mb-2" for="Ema(8-13-21)">Ema(8-13-21)</label>
</div>
