<div class="d-flex" style="margin-top: 20px;">
    <div class="d-flex align-items-center me-3" style="margin-left: 5px;">
        <h5 class="mb-0 me-1">Close Profit</h5>
        <p style="margin-left: 110px; font-size: 30px;">$</p>
        <input class="form-control"  value="300" type="text" id="closeInput" style=" width: 110px; height: 40px; font-size: large;">
       
    </div>
    <div class="d-flex align-items-center">
        <h5 class="mb-0 me-1">Loss Points</h5>
        <p style="margin-left: 110px; font-size: 30px;">$</p>
        <input class="form-control"  value="20" type="text" id="lossInput" style="width: 110px; height: 40px; font-size: large;">
    </div>
</div>
