{% extends 'base.html' %}


{% block content %}

<style>
    .custom-label {
        margin-right: 40px;
    }

    .input_2{
        margin-top: 10px;
    }

</style>

<div class="center">

    {% include "top.html" %}

    {% include "long_short_box.html" %}

    <hr style="color: #44475a;">

<div class="d-flex"  >

<div class="flex-grow-1" style=" width: 70%;">
    {% include "sma_code.html" %}

    {% include "rsi_code.html" %}

    {% include "alpha_atr.html" %}

    <hr style="color: #44475a; width: 80%;">

    {% include "open_long_short.html" %}

    {% include "close_loss.html" %}

</div>


<div class="d-flex flex-column justify-content-end align-items-center" style="width: 20%; background-color: #f8f8f2; height: 100%;  margin-right: 10px; ">
    <!-- Content for the 20% width div -->
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.pGsV9HsfKLaPAxhDYDvX0wHaFS%26pid%3DApi&f=1&ipt=1c4c0670475b43dea9c22162f29f6c92c2ae489423e746f82ee920a2f7dde632&ipo=images" style="max-width: 100%; height: auto;" alt="">

    <div class="p-3 align-self-center text-center"   style="width: 100%; height: 55%; border: 1px solid #50fa7b; border-radius: 4px; margin-top: 10px;" >

        <p class="text-start">
            # of Trade Taken: <span style="color: #44475a;"  id="trade_count">12</span>
        </p>
        <p class="text-start">
            # of profitable trader: <span style="color: #44475a;">20</span>
        </p>
        <p class="text-start">
            # of losing trade: <span style="color: #44475a;">01</span>
        </p>
        <p class="text-start" style="margin-bottom: 5px;">
            NET PNL: <span style="color: #44475a;">400</span>
        </p>

    </div>
</div>

</div>

    <hr style="color: #44475a;">
    <div style="display: flex; justify-content: center; gap: 30px;">
        <button type="button" onclick="startInterval()" disabled class="btn btn-success btn-md btn-block" id="SUBmit">SUBMIT</button>
        <button type="button" onclick="reset()" class="btn btn-primary btn-md btn-block">RESET</button>
        <button type="button" id="StOp" onclick="stop_the_session()" class="btn btn-danger btn-md btn-block">STOP</button>
    </div>


</div>

{% endblock content %}

