<div class="d-flex" style="margin-left: 10px;" id="Long_Short_one">
    <div class="form-check form-switch me-3">
        <input class="form-check-input" type="checkbox" role="switch" id="long_values" checked>
        <label class="form-check-label" for="Long">Long</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="short_values" checked>
        <label class="form-check-label" for="Short">Short</label>
    </div>
    <div class="form-check form-switch" style="margin-left: 10px;">
        <input class="form-check-input" type="checkbox" role="switch" id="two_in_row" checked>
        <label class="form-check-label" for="flexSwitchCheckChecked">Allow Two In Row</label>
    </div>
</div>