<div class="d-flex" style="margin-left: 10px;" id="opEn_long">
    <h6 class="me-3">Open Long/Short</h6>

</div>


<div class="d-flex justify-content-center" >

<div class="form-check me-3">
  <input class="form-check-input" type="radio" name="Market_Price" id="Market_Price_Market" value="Market">
  <label class="form-check-label" for="Market_Price_Market">
    Market Price
  </label>
</div>

<div class="form-check me-3">
  <input class="form-check-input" type="radio" name="Market_Price" id="Market_Price_Bid" value="Bid">
  <label class="form-check-label" for="Market_Price_Bid">
    Bid Price
  </label>
</div>

<div class="form-check me-3">
  <input class="form-check-input" type="radio" name="Market_Price" id="Market_Price_Mid" value="Mid">
  <label class="form-check-label" for="Market_Price_Mid">
    Mid Price
  </label>
</div>

<div class="form-check me-3">
  <input class="form-check-input" type="radio" name="Market_Price" id="Market_Price_Ask" value="Ask">
  <label class="form-check-label" for="Market_Price_Ask">
    Ask Price
  </label>
</div>

</div>