<div class="d-flex" style="margin-top: 20px; margin-left: 10px;" >
  <div class="me-3">
    <h6 class="mb-0">RSI To Open</h6>

    <div class="dropdown" style="margin-top: 5px">
      <select class="form-select" id="RSI_OPEN">
        <option value="1 min">1 minute</option>
        <option value="2 mins">2 minutes</option>
        <option value="3 mins">3 minutes</option>
        <option value="5 mins">5 minutes</option>
        <option value="10 mins">10 minutes</option>
        <option value="15 mins">15 minutes</option>
        <option value="20 mins">20 minutes</option>
        <option value="30 mins">30 minutes</option>
        <option value="1 hour">1 hour</option>
        <option value="2 hours">2 hours</option>
        <option value="3 hours">3 hours</option>
        <option value="4 hours">4 hours</option>
        <option value="8 hours">8 hours</option>
        <option value="1 day">1 day</option>
        <option value="1W">1 week</option>
        <option value="1M">1 month</option>       
      </select>
    </div>
  </div>
  <div>
    <h6 class="mb-0">RSI To Close</h6>
    <div class="dropdown" style="margin-top: 5px">
      <select class="form-select" id="RSI_CLOSE">
        <option value="1 min">1 minute</option>
        <option value="2 mins">2 minutes</option>
        <option value="3 mins">3 minutes</option>
        <option value="5 mins">5 minutes</option>
        <option value="10 mins">10 minutes</option>
        <option value="15 mins">15 minutes</option>
        <option value="20 mins">20 minutes</option>
        <option value="30 mins">30 minutes</option>
        <option value="1 hour">1 hour</option>
        <option value="2 hours">2 hours</option>
        <option value="3 hours">3 hours</option>
        <option value="4 hours">4 hours</option>
        <option value="8 hours">8 hours</option>
        <option value="1 day">1 day</option>
        <option value="1W">1 week</option>
        <option value="1M">1 month</option>
      </select>
    </div>
  </div>

  <div class="d-flex align-items-center" style="margin-left: 20px">
    <h6 class="mb-0">RSI Long</h6>

    <input
      class="form-control me-2"
      type="number"
      name=""
      id="Rsi_L"
      style="width: 70px; margin-left: 10px"
      step="0.01"
    />
    <div class="dropdown" style="margin-top: 5px">
      <select class="form-select" id="RSI_LONG">
        <option value="1"><=</option>
        <option value="2">>=</option>
      </select>
    </div>
  </div>

  <div class="d-flex align-items-center" style="margin-left: 20px">
    <h6 class="mb-0">RSI Short</h6>

    <input
      class="form-control me-2"
      type="number"
      name=""
      id="Rsi_S"
      style="width: 70px; margin-left: 10px"
      step="0.01"
    />
    <div class="dropdown" style="margin-top: 5px">
      <select class="form-select" id="RSI_SHORT">
        <option value="1">>=</option>
        <option value="2"><=</option>
      </select>
    </div>

    <h6 class="mb-0" style="margin-left: 10px">RSI Length</h6>
    <input
      type="number"
      name=""
      id="RSI_Length"
      min="1"
      style="width: 70px; margin-left: 5px"
    />
    
  </div>

</div>
