<div class="d-flex align-items-center" style="margin-left: 5px;">
  <h5 class="mb-0 me-2">Sma Crossover:</h5>
  <input
    class="form-control me-2"
    type="number"
    name=""
    id="sma_1"
    style="width: 75px"
    step="0.01"
  />
  <input class="form-control" type="number" name="" id="sma_2" step="0.01" style="width: 75px" />



  <h6 class="mb-0 me-2" style="margin-left: 50px">SMA Length</h6>
  <input
    class="form-control me-2"
    type="number"
    name=""
    id="sma_length"
    style="width: 75px; margin-left: 10px"

  />
</div>
