<div class="upper_information d-flex justify-content-center align-items-center">
  <div class="input-group mb-3 upper_logs">
    <span
      class="input-group-text input_2"
      style="margin-left: 10px"
      id="inputGroup-sizing-default_1"
      >Futures
    </span>
    <!-- <input class="input_2" type="text" name="" id="" style="width: 150px;"> -->
    <span
      class="input-group-text input_2"
      style="margin-left: 47px"
      id="inputGroup-sizing-default"
      >Quantity</span
    >
    <!-- <input class="input_2"  type="number" max="10" min="1" name="" id="" style="width: 70px;"> -->

    <span
      class="input-group-text input_2"
      style="margin-left: 50px"
      id="inputGroup-sizing-default"
      >Description</span
    >
    <!-- <label for="" style="width: 350px; height: 120px; margin-left: 3px;"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</label> -->

    <span
      class="input-group-text input_2"
      style="margin-left: 260px"
      id="inputGroup-sizing-default"
      >Current Price
    </span>
    <!-- <input class="input_2" type="text" name="" id="" style="width: 150px;"> -->

    <span
      class="input-group-text input_2"
      style="margin-left: 25px"
      id="inputGroup-sizing-default"
      >Brokers
    </span>

    <span
      class="input-group-text input_2"
      style="margin-left: 40px"
      id="inputGroup-sizing-default"
      >Account
    </span>

    <span
      class="input-group-text input_2"
      style="margin-left: 40px"
      id="inputGroup-sizing-default"
      >TradeTypes
    </span>

    <div>
      <!-- <input
        class="input_2"
        type="text"
        name=""
        id=""
        style="width: 100px; height: 40px; margin-left: 8px"
      /> -->

      <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="stock_names" style="width: 100px; height: 40px; margin-left: 8px">
        Stock
      </button>
      <ul class="dropdown-menu" id="Stock-names-to-change">
        <li><a class="dropdown-item" href="#" onclick="changeDropdownValue_Of_Tiker('stock_names', 'NQ')">NQ</a></li>
        <li><a class="dropdown-item" href="#" onclick="changeDropdownValue_Of_Tiker('stock_names', 'ES')">ES</a></li>
      </ul>


      <input
        class="input_2"
        type="number"
        max="10"
        min="1"
        name=""
        id="quantity_values"
        style="width: 100px; height: 40px; margin-left: 20px"
      />

      <input
        class="input_2"
        placeholder="The provided code snippet looks good, and it displays three checkboxes horizontally with a margi" 
        disabled
        type="text"
        name=""
        id="description_values"
        
        style="width: 360px; height: 45px; margin-left: 30px"
      />

      <input
        class="input_2"
        placeholder="204.6"
        disabled
        type="text"
        name=""
        id="currentprice_values"
        style="
          width: 100px;
          height: 40px;
          margin-left: 25px;
          text-align: center;
        "
      />

      <button
        class="btn btn-secondary dropdown-toggle "
        type="button"
        id="brokers_values"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        style="margin-left: 25px; width: 100px"
      >
      Brokers
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#" onclick="changeDropdownValue('brokers_values', 'Tws')">IBKR</a></li>
        <li><a class="dropdown-item" href="#" onclick="changeDropdownValue('brokers_values', 'TS')">TS</a></li>
      </ul>

      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="account_values"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        style="margin-left: 20px; width: 100px"
      >
        Account
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#" onclick="changeDropdownValue('account_values', 'Duc2121212')">Duc2121212</a></li>
        <li><a class="dropdown-item" href="#" onclick="changeDropdownValue('account_values', 'Duc3sasasa')">Duc3sasasa</a></li>
      </ul>

      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="tradetypes_values"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        style="margin-left: 20px; width: 120px"
      >
        TradeTypes
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#" onclick="changeDropdownValue('tradetypes_values', 'Paper')">Paper</a></li>
        <li><a class="dropdown-item" href="#" onclick="changeDropdownValue('tradetypes_values', 'Live')">Live</a></li>
      </ul>
    </div>
  </div>
</div>
